<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!-- Cambiar value, por base de datos a usar -->
      <add key="dataBaseName" value="panchi" />
    </appSettings>
    <connectionStrings>
        <add name="dario" connectionString="Data Source=DARIO-PC\SQLEXPRESS;Initial Catalog=BD-GranColo;Integrated Security=True" />
        <add name="panchi" connectionString="Data Source=DESKTOP-FMEHQAG;Initial Catalog=db_gran_colo;Integrated Security=True" />
        <add name="cristian" connectionString="Data Source=DESKTOP-QIHNFT0;Initial Catalog=db_gran_colo;Integrated Security=True" />
        <add name="pav" connectionString="Data Source=maquis;Initial Catalog=BugTracker;User ID=avisuales1;Password=avisuales1" />
        <add name="GranColo.Properties.Settings.db_gran_coloConnectionString"
              connectionString="Data Source=DESKTOP-FMEHQAG;Initial Catalog=db_gran_colo;Integrated Security=True"
              providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

